body{
    text-align: justify;
    font-family: Arial, serif, sans-serif;
    font-size: 12px;
    background-color: antiquewhite   
  }

h1{
    
    font-size: 25px;
    color: black;
    font-weight: 0px;
    text-shadow: 3px 5px 6px white
}

h2{
    text-align: center;
    font-size: 25px;
    color: rebeccapurple;
    font-weight: 0px;   
}

.text
{
 padding: 0px 10px 0px 10px;
}


.img2
{
    padding: 0px 0px 0px 10px;  
}

p{
    font-size: 14px;
    text-align: justify;
    margin-left: 0px;
}

.share{
    text-align: justify;
    border: 1px solid limegreen;
    width: 100%;
    padding: 0px 0px;
    position: relative;
}

.share a{
    border: 1px solid red;
    margin: 10px;
    padding: 15px;
    color: white;
    background: red;
    border-radius: 3px;
    display:inline-block;
    text-decoration: none;
}

.share a:hover{
    border: 1px solid green;
    color: yellow;
    background: orangered;
}

.pull_guote{
    margin: 0;
    width: 400px;
}



ol{
    font-size: 14px;
    margin-left: 0px;
}

.jumbotron
{
    background-color: antiquewhite ; 
    background-image: url("https://www.acnpacific.com/wp-content/uploads/2015/11/bnr_products_main_1920x300.jpg");
}

.container {
    text-align: center;
  }

  #slider {
  /*  margin: 0 auto;
    list-style: none;
    position: relative;*/
    width: 500px;
    height: 180px;
  }

  #slider img {
    position: absolute;
    top: 30px;
    left: 650px;
    width:600px;
    height:300px;
  }
   /*  
  
  #dots {
    list-style:none;
    padding:0px;
    margin-bottom: 8px;
  
  }
  #dots li {
    display:inline-block;
    border-radius:10px;
    width:10px;
    height:10px;
    margin: 0 5px;
    border:2px solid #2284A1;
    background: white;
    cursor:pointer;
  }
  #dots li.active {
    background:#2284A1;
}
*/