body
{
    margin: 0px;
    text-align: justify;
    font-family: Arial, serif, sans-serif;
    background-image: url(https://codeguida.com/media/__sized__/post_title/%D0%91%D0%B5%D0%B7_%D0%BD%D0%B0%D0%B7%D0%B2%D0%B8-1_gjvhehP-crop-c0-5__0-5-260x180.png);
}

table
{
border-spacing: 1px;
border-collapse: collapse;
width: 98%;
margin: 1%;
background: linear-gradient(rgb(64, 118, 236), rgb(148, 218, 177));
}

header
{
    text-align: center;
    background: linear-gradient(to right, rgb(111, 94, 184), rgb(71, 186, 221));
    text-shadow: 3px 5px 6px rgb(247, 247, 247);
    padding: 50px 0px 50px 0px
}

h1
{
    margin: 0px;
    color: black;
}

td
{
  text-align: left;
  font-size: 28px;
  border: 2px solid black;
}

footer
{
    padding: 40px 0px 0px 10px;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
}