.blog-container {
    background: #d6d5d5;
    border: 3px solid #323232;
    border-radius: 5px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 50px auto 50px auto;
    box-shadow: 3px 3px 50px #494444;
    padding: 30px;
    width: 75%;
}

.blog-owner {
    font-size: 16px;
}

    .blog-owner ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
        overflow: hidden;
        padding: 16px 3px 7px 3px;
    }

    .blog-owner li {
        float: left;
        height: 15px;
        padding: 0px 150px 5px 0px;
        line-height: 15px;
    }

.blog-photo img {
    width: 100%;
    height: 50%;
}

.blog-body {
    margin: 0 auto;
    width: 80%;
}

.blog-title h1 a {
    color: #333;
    font-weight: 100;
}

.blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.blog-tags li {
    padding: 0px 30px 0px 0px;
}

.bloc-container-event {
    background: #d6d5d5;
    border-radius: 5px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    padding: 30px;
}

.bloc-owner-event {
    font-size: 16px;
}

.bloc-owner-event ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    padding: 16px 3px 7px 3px;
}

.bloc-owner-event li{
    float: left;
    padding: 18px 150px 15px 0px;
    line-height: 15px;
}

.bloc-owner-event p {
    background: url("/photo_2020-03-15_20-00-37.jpg");
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    margin-right: .5rem;
    position: relative;
    width: 50px;
}

.bloc-photo {
    display: flex;
    flex-wrap: wrap;
}

.bloc-photo-event img{
    margin-right: 25%;
    width: inherit;
}

.bloc-photoalbum-event
{
    padding:20px;
}

.bloc-photoalbum-event label{
    margin:auto;
    padding: 0px 0px 0px 25%;
    font-size: x-large;
    font-style:italic;
}

.bloc-photoalbum-event img {
    width: 100px;
    height: 100px;
}

.bloc-photoalbum-event ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    padding: 16px 3px 7px 3px;
}

.bloc-photoalbum-event li {
    padding: 5px 5px 5px 5px;
    }

.bloc-body-event {
    width: 80%;
}

.bloc-titel-event h1 {
    color: #333;
    font-weight: 100;
    margin-top: 15px;
}


.bloc-desc-event
{
    padding:10px 0px 50px 0px;
}

.bloc-button-event ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.btn-warning {
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    background-color:skyblue;
}

.blog-container-allevents
{
    margin-left: 20%;
    float: right;
}

.row.content {
    height: 1500px
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    width: 15%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.sidenav h3 {
    margin: auto;

}

.input-group-date {
    border: 1px solid #323232;
    margin:25px auto;
}

.input-group-date label{
    margin:auto;
    padding: 10px 0px 0px 20px;
}

.input-group-date ul{
    padding: 10px;
    }

.input-group-date li{
    margin:auto;
    overflow: hidden;
    padding: 5px 0px 0px 0px;
}

.input-group-name {
    border: 1px solid #323232;
    margin: 25px auto;
    padding: 15px;
}

.input-group-name label{
    margin:auto;
    padding: 0px 0px 15px 15px;
}

.sidenav button {
    margin: 10px auto;
    background-color: dimgrey;
    border: dimgrey;
}

.sidenav button:hover {
    background-color:forestgreen;
    border: dimgrey;
}